.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.color-container {
  max-width: 256px;
  height: 15rem;
  width: 100%;
  border-radius: 10%;
  transition: background-color .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.answer-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-buttons button + button {
  margin-left: 1rem;
}

p.result {
  margin-top: 2rem;
}

p.result {
  text-align: center;
  opacity: 0;
  transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}

p.result.wrong {
  opacity: 1;
  color: red
}
